.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px;

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .desc {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }

  

  .template_wrap {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;

    .template_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      background-color: transparent; // 기본 배경색 (호버 전)
      transition: background-color 0.3s ease, box-shadow 0.3s ease; // box-shadow에도 전환 추가

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0); // 기본 상태: 투명
        transition: background-color 0.3s ease; // 부드러운 전환
      }

      .template_name {
        position: absolute;
        top: 50%; // 이미지 중앙에 배치
        left: 50%;
        transform: translate(-50%, -50%); // 정확한 중앙 정렬
        opacity: 0;
        color: #fff; // 텍스트가 배경과 대비되도록 (필요 시 조정)
        transition: opacity 0.3s ease; // 부드러운 투명도 전환
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
      }
      
      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.426);

        .overlay {
          background-color: rgba(0, 0, 0, 0.752); // 호버 시 오버레이 색상
        }

        .template_name {
          opacity: 1;
          font-size: 24px;
        }
      }
    }

    /* ✅ 스마트폰 대응 (768px 이하) */
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 20px;

      .right_wrap {
        grid-template-columns: 1fr; /* 세로 정렬 */
        gap: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 10px;
  }
}